<h1>Burgers</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burgername}}
        <button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">	EAT ME ! </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burgername}}
      <button class="delete-burger" data-id="{{id}}"> DELETE!</button>
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1"> Devoured!<br>
    <input type="radio" name="devoured" value="0"> To-Devour!
  </div>
   --}}
  <button type="submit">Add Burger</button>
</form>
