<li>
	{{this.burgername}}

	{{#if devoured}}
		<button class="change-devoured" data-id="{{this.id}}" data-newburger="{{this.devoured}}">	EAT ME ! </button>
	{{!-- {{else}}REVIVE ME ! --}}
	{{/if}}
		
	{{#if devoured}} 
	{{else}}
		<button class="delete-burger" data-id="{{this.id}}"> DELETE!</button>
	{{/if}}

</li>
